<h1 class="title">Productos</h1>
<div class="userInfo">
  <p>Bienvenido {{user.firstName}}!</p>
  {{#if isUserRole}}
  <p>Tu email es {{user.email}}</p>    
  {{/if}}
  <br>
  <a href="/api/sessions/logout"><button>Cerrar sesión</button></a>
</div>
<div class="container">
  {{#each products}}
    <div class="card" id={{this._id}}>
      <div class="card-body">
        <img class="card-img" src={{this.thumbnail}} alt={{this.title}} />
        <h5 class="card-title">{{this.title}}</h5>
        <div class="card-info">
          <p class="card-text">{{this.description}}</p>
          <p class="card-text">Categoría: {{this.category}}</p>
          <p class="card-text">Código: {{this.code}}</p>
          <p class="card-text">Stock: {{this.stock}}</p>
          <p class="card-text">Precio: ${{this.price}}</p>
        </div>
        <button onclick="addProduct('{{this._id}}')">Agregar al carrio</button>
      </div>
    </div>
  {{/each}}
</div>

<div class="pagination">
  {{#if hasPrevPage}}
    <a href="/?page={{prevPage}}"><button>Anterior</button></a>
  {{/if}}

  <h5>{{page}}</h5>

  {{#if hasNextPage}}
    <a href="/?page={{nextPage}}"><button>Siguiente</button></a>
  {{/if}}
</div>

<script src="/js/home.js"></script>

